fastapi==0.75.0
uvicorn[standard]==0.17.6
python-multipart==0.0.6
numpy==1.26.4
pandas==1.3.4
python-dotenv==0.19.2
pydantic==1.9.0
sqlalchemy==1.4.27
databases==0.5.4
psycopg2==2.9.9
pika==1.3.2
requests===2.32.2
googlemaps==4.10.0
geopy==2.4.1
shapely==2.0.4
pg8000==1.31.2
google-cloud==0.34.0
cloud-sql-python-connector==1.10.0
openai==1.35.10
beautifulsoup4==4.12.3
redis==5.1.1
PyJWT==2.9.0
pymongo==4.10.0
